<!doctype html>
<html lang="en" class="h-100">

<body class="d-flex h-100 text-center text-white bg-dark" scroll=none>

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <main class="px-3">
            <br><br>
            <app-translation>

            </app-translation>
            <br><br><br>
            <p class="lead">
                <a *ngIf="!isLogged" href="login" class="btn btn-lg btn-primary ">{{ 'ingresar' | translate }}</a>
                <a href="registro" class="btn btn-lg btn-primary">{{ 'registro' | translate }}</a>
                <a *ngIf="esAdmin" class="btn btn-lg btn-primary" href="seccion-usuarios">{{ 'seccionUsuarios' | translate }}</a>
                <a *ngIf="esAdmin" class="btn btn-lg btn-primary" href="turnos">{{ 'administracionTurnos' | translate }}</a>
            </p>
        </main>

    </div>
</body>

</html>
