.fab-button:hover {
    z-index: 1000;
    transform: scale(1.5);
}

.fastAccessButton {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.btn {
    display: grid;
}

body {
    display: flex;
    align-items: center;
    background-color: rgb(243, 213, 123);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }