.btn {
    margin: 0.1%;
  }
  
  html,
  body {
    height: 91vh !important;
    background-color: rgb(243, 213, 123);
  }
  
  img {
    display: inline;
    width: 100px;
    height: 100px;
    object-fit: scale-down;
  }

